<div class="container">
    <h2>Registration</h2>
    <section class="module-create">
        <!-- Creation Form -->
        <form role="form" enctype="multipart/form-data" method="POST" >
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" ng-model="newPlayer.name" class="form-control" id="name" placeholder="Your name" required />
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" ng-model="newPlayer.lastname" class="form-control" id="lastname" placeholder="Your lastname" required />
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" ng-model="newPlayer.location" class="form-control" id="location" placeholder="Where your friend can send you candies" required />
            </div>
            <div class="form-group" >
                <label for="gender">Gender</label>
                <select class="form-control" ng-model="newPlayer.gender" ng-options="gender.desc for gender in genders" id="gender" name="gender" required></select>

            </div>
            <div class="form-group">
                <label for="location">Photo</label>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="row fileupload-buttonbar">

                    <div class="">
                        <img id="img-preview" class="persona-img-preview img-circle img-thumbnail" src="photos/no-image.png" alt="Your image"/>
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select a file</span>
                            <input type="file" name="files" ng-disabled="disabled" id="files" onchange="angular.element(this).scope().fileNameChaged(this)" required>
                        </span>
                    </div>

                </div>
            </div>

            <button type="submit" ng-click="createPlayer()" class="btn btn-primary">Register</button>
        </form>
        
        <form action="rest/players/upload" method="post" enctype="multipart/form-data">
 
	   <p>
		Select a file : <input type="file" name="file" />
	   </p>
 
	   <input type="submit" value="Upload It" />
	</form>
    </section>
</div>