<div class="juego view">
    <div class="toolbar">
        <a class="btn btn-danger pull-right" href="#/juegos/{{currentJuego.numeroId}}"><span class="glyphicon glyphicon-edit"></span> Cerrar</a>
        <button class="btn btn-warning pull-right" ng-click="match()"><span class="glyphicon glyphicon-random"></span> Sortear</button>
        <button class="btn btn-warning pull-right" ng-click="updateJuego(currentJuego)"><span class="glyphicon glyphicon-floppy-save"></span> Guardar</button>
    </div>

    <h2>Editar Juego ({{ currentJuego.numeroId}}) {{ currentJuego.descripcion}}</h2>
    <div class="juego-details">
        <form role="form">
            <div class="form-group">
                <label for="descripcion">Descripci&oacute;n</label>
                <input type="text" ng-model="currentJuego.descripcion" class="form-control" name="descripcion" id="descripcion" placeholder="Ingresa la descripci&oacute;n" required>
            </div>

            <h3>Programaci&oacute;n</h3>
            
            <div class="form-group">
                <label for="fechaInicial">Inicio endulce</label>
                <div class="input-group date">
                    <input type="text" ng-model="currentJuego.fechaInicial"  class="form-control" placeholder="yyyy/mm/dd" name="fechaInicial" id="fechaInicial" readonly="readonly" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaFinal">Destape</label>
                <div class="input-group date">
                    <input type="text" ng-model="currentJuego.fechaFinal" class="form-control" placeholder="yyyy/mm/dd" name="fechaFinal" id="fechaFinal" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>

            <h3>Participantes</h3>

            <div class="input-group">
                <input type="text" placeholder="Filtrar" class="form-control" ng-model="filt"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
            <div class="participantes row">
                <div class="participante col-md-3 text-center" ng-repeat="participante in currentJuego.participantesCollection| filter:filt | orderBy:participante.personas.nombre">
                    <img class="participante-img img-circle img-thumbnail img-responsive" src="photos/{{ (participante.personas.foto)? participante.personas.foto:'no-image.png'}}" alt="{{participante.personas.nombre}} {{participante.personas.apellidos}}">
                    <p>
                        <span class="participante-name lead">{{participante.personas.nombre}} {{participante.personas.apellidos}}</span>
                        <br/>
                        <span class="participante-place"><small>{{participante.personas.ubicacion}}</small></span>
                    </p>
                    <button ng-click="deleteParticipante(participante)" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Borrar</button>
                </div> 
            </div>

            <h3>Agregar Participantes</h3>
            
            <div class="input-group">
                <input type="text" placeholder="Filtrar" class="form-control" ng-model="filtpersonas"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
            <div class="personas row">
                <div class="participante col-md-3 text-center" ng-repeat="persona in personas| filter:filtpersonas | orderBy:participante.personas.nombre">
                    <img class="participante-img img-circle img-thumbnail img-responsive" src="photos/{{persona.foto ? persona.foto:'no-image.png'}}" alt="{{participante.personas.nombre}} {{participante.personas.apellidos}}">
                    <p>
                        <span class="participante-name lead">{{persona.nombre}} {{persona.apellidos}}</span>
                        <br/>
                        <span class="participante-place"><small>{{persona.ubicacion}}</small></span>
                    </p>
                     <button ng-click="addParticipante(persona)" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar a participantes</button>
                </div>
            </div>
        </form>
    </div>
</div>

