/* 
    Created on : 07-nov-2013, 11:21:26
    Author     : David Andrés Maznzano Herrera <damanzano>
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.row{
    margin-top: 20px;
}
.juegos-list{
    margin-top: 20px;
}


/**Participante module**/
.participante{
    margin-bottom: 15px;
}
.participante-img{
    width: 100px;
}
.participante-name{
    font-weight: bold;
}
.participante-place{}
.toolbar .btn{
    margin-left: 3px;
}

/*Persona mudule*/
.persona-img{
    width: 160px;
}
.persona-img-preview{
    height: 100px;
    width: 100px;
}