/* 
    Created on : 07-nov-2013, 11:21:26
    Author     : David Andrés Maznzano Herrera <damanzano>
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
