/* 
    Created on : 07-nov-2013, 11:21:26
    Author     : David Andrés Manzano Herrera <damanzano>
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.row{
    margin-top: 20px;
}
.juegos-list{
    margin-top: 20px;
}


/**Participante module**/
.participante{
    margin-bottom: 15px;
}
.participante-img{
    width: 100px;
    height: 100px;
}
.participante-name{
    font-weight: bold;
}
.participante-place{}
.toolbar .btn{
    margin-left: 3px;
}

/*Persona mudule*/
.persona-img{
    width: 160px;
    height: 160px;
}
.persona-img-preview{
    height: 100px;
    width: 100px;
}

/** Authentication module */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}