<div class="persona view">
    <div class="toolbar">
        <a class="btn btn-primary pull-right" href="#/personas/edit/{{currentPersona.numeroId}}"><span class="glyphicon glyphicon-edit"></span> Editar</a>
    </div>

    <h2>({{ currentPersona.numeroId}}) {{ currentPersona.nombre}} {{currentPersona.apellidos}}</h2>

    <div class="persona-details row">
        <img class="persona-img img-circle img-thumbnail pull-left" src="photos/{{currentPersona.foto}}" alt="{{ currentPersona.nombre}} {{currentPersona.apellidos}}"/>
        <div class="col-md-6">
            <h3>Detalles</h3>
            <ul>
                <li>Correo electr&oacute;nico {{ currentPersona.correoElectronico }}</li>
                <li>Inicio endulce {{ currentPersona.ubicacion }}</li>
                <li>G&eacute;nero {{ (currentPersona.sexo=='M') ? 'Masculino':'Femenino' }}</li>
            </ul>
            <!-- Comming soon 
            <h3>Juegos en los que participa Actualmente</h3>
            -->
        </div>
    </div>
</div>