<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="Juego_amigo_secretoPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>co.edu.icesi.entitys.Juego</class>
    <class>co.edu.icesi.entitys.Personas</class>
    <class>co.edu.icesi.entitys.Participantes</class>
    <class>co.edu.icesi.entitys.EsAmigoDe</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@172.16.0.103:1522:ESTUD"/>
      <property name="javax.persistence.jdbc.password" value="dragoones"/>
      <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
      <property name="javax.persistence.jdbc.user" value="jlozano"/>
    </properties>
  </persistence-unit>
</persistence>
